@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    
    padding: 20px 0;
  }
  
  .logo-track {
    display: flex;
    gap: 5rem;
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  
  .logo {
    width: 7rem;
    height: 7rem; 
    border-radius: 50%;

    padding: 0.5rem;
    object-fit: contain;
  }
  
  /* Infinite scrolling animation */
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
 